@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Nanum+Gothic+Coding&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Inter:wght@500&display=swap');

:root {
    --primary-color: #EF798A;
    --secondary-color: #F7A9A8;
    --accent1-color: #2B002E;
    --accent2-color: #6F2159;
    --accent3-color: #E5C3D1; 

    --heading-family: 'Courgette', cursive;
    --paragraph-family: 'Inter', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
    color: var(--accent1-color);
    text-align: center;
}


/* gerais */
*{
    padding: 0;
    margin: 0;
    font-family: var(--paragraph-family);
}
body {
    max-width: 980px;
    background-color: var(--accent3-color);
    margin: 0 auto;
    font-size: 20px;
}
p{
    padding: 10px;
    border: 2px;
    text-align: justify;
}

/* header */
header{
    min-width: 180px;
    max-width: 100%;
    height: auto;
    padding: 10px;
    text-align: center;
    border: 1px solid black;
    background-color: var(--accent2-color);
    position: sticky;
}
.home-button img {
    width: 45px;
    height: auto;
    padding: 3px;
    margin: 2px;
}

a:link {
    text-decoration: none;
    color: whitesmoke;
    padding: 5px;
    margin: 2px;
    clear: both;
    font-size: 13px;
}

a:visited {
    color: whitesmoke;
}


/* main */
.hero{

}
.hero img{
    min-width: 180px;
    max-width: 100%;
    height: auto;
    position: relative;
}
h1{
    position: absolute;
    top: 13%;
    left: 1%;
    font-size: 3rem;
    font-family: var(--heading-family);
    -webkit-text-stroke: 0.2px whitesmoke;
    padding: 3px;
    margin: 2px;
}

h2 {
    position: absolute;
    top: 47%;
    left: 23%;
    font-size: 2rem;
    color: whitesmoke;
    -webkit-text-stroke: 0.5px var(--accent1-color);
    font-family: var(--heading-family);
    padding: 3px;
    margin: 2px;
}

/* home pictures */
.historia-img {
    width: auto;
    height: 80%;
    border: 1px solid var(--secondary-color);
    border-radius: 3%;
    margin: 6px;
}

.foto-de-perfil {
    width: auto;
    height: 100%;
    border: 2px solid var(--secondary-color);
    margin: 6px;
}

/* home grid */
.home-grid-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 100px;
}
.apresentacao {
    grid-column: 1/4;
    grid-row: 1/3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 90px;
    grid-gap: 5px;
}
.foto-de-perfil-1 {
    grid-column: 1;
    grid-row: 1;
}
.foto-de-perfil-2 {
    grid-column: 3;
    grid-row: 1;
    justify-self: self-end;
}
.apresentacao-titulo {
    grid-column: 2;
    grid-row: 1;
}
.apresentacao-p{
    grid-column: 1/4;
    grid-row: 2/4;
}

.historia {
    grid-column: 1/4;
    grid-row: 3/8;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: 200px;
}
.historia-titulo {
    grid-column: 2;
    grid-row: 1;
    justify-self: center;
    align-self: center;
}

.historia-1 {
    grid-column: 1;
    grid-row: 2;
}
.historia-2 {
    grid-column: 5;
    grid-row: 4;
}
.historia-3 {
    grid-column: 1;
    grid-row: 6;
}
.historia-4 {
    grid-column: 5;
    grid-row: 8;
}
.historia-p1 {
    grid-column: 2/6;
    grid-row: 2/4;
}
.historia-p2 {
    grid-column: 1/5;
    grid-row: 4/6;
}
.historia-p3 {
    grid-column: 2/6;
    grid-row: 6/8;
}
.historia-p4 {
    grid-column: 1/5;
    grid-row: 8/10;
}

/* style the content */
.historia-img {
    justify-self: center;
    align-self: center;
}