@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Nanum+Gothic+Coding&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Inter:wght@500&display=swap');

:root {
    --primary-color: #EF798A;
    --secondary-color: #F7A9A8;
    --accent1-color: #2B002E;
    --accent2-color: #6F2159;
    --accent3-color: #E5C3D1;

    --heading-family: 'Courgette', cursive;
    --paragraph-family: 'Inter', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    color: var(--accent1-color);
    text-align: center;
}


/* gerais */
* {
    padding: 0;
    margin: 0;
    font-family: var(--paragraph-family);
}

body {
    max-width: 980px;
    background-color: var(--accent3-color);
    margin: 0 auto;
    font-size: 20px;
}

p {
    padding: 10px;
    border: 2px;
    text-align: justify;
}

/* header */
header {
    min-width: 180px;
    max-width: 970px;
    height: auto;
    padding: 10px;
    text-align: center;
    border: 1px solid black;
    background-color: var(--accent2-color);
    position: sticky;
}

.home-button img {
    width: auto;
    height: 13px;
    padding: 3px;
    margin: 2px;
}

a:link {
    text-decoration: none;
    color: whitesmoke;
    padding: 5px;
    margin: 2px;
    clear: both;
    font-size: 13px;
}

a:visited {
    color: whitesmoke;
}

nav{
    display: flex;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-item {
    width: 25%;
    min-height: 40px;
    margin: 0;
    padding: 1px;
    border: 1px solid whitesmoke;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.flex-1 {
    flex-grow: 1;
}

.flexbox-2 {
    flex-grow: 1;
}

.flexbox-3 {
    flex-grow: 1;
}

/* main */

.hero img {
    min-width: 180px;
    max-width: 100%;
    height: auto;
    position: relative;
}

h1 {
    position: absolute;
    top: 13%;
    left: 1%;
    font-size: 3rem;
    font-family: var(--heading-family);
    -webkit-text-stroke: 0.2px whitesmoke;
    padding: 3px;
    margin: 2px;
}

h2 {
    position: absolute;
    top: 47%;
    left: 23%;
    font-size: 2rem;
    color: whitesmoke;
    -webkit-text-stroke: 0.5px var(--accent1-color);
    font-family: var(--heading-family);
    padding: 3px;
    margin: 2px;
}

/* memorias grid */
.foto-memoria {
    width: 80%;
    height: auto;
}

.musica-img {
    width: 85%;
    height: 100px;
    grid-gap: None;
    margin: 0;
    
}

.momentos-grid-container {
    display: grid;
    grid-template-columns: 17% 55% 25%;
    grid-gap: 10px;
}

h4 {
    grid-column: 2;
    grid-row: 1;
    align-self: center;
    justify-self: center;
}

.momento {
    grid-column: 1/4;
    display: grid;
    grid-template-columns: 17% 58% 25%;
    grid-auto-rows: auto;
    padding: 5px;
    margin: 2px;
    border: 1px solid var(--accent2-color);
}

.data {
    grid-row: 2;
    grid-column: 2;
    margin: 0;
}

.musica-img {
    grid-row: 1;
    grid-column: 1/4;
}

.musica-p {
    grid-row: 2;
    grid-column: 1/3;
    align-self: self-end;
    justify-self: self-start;
    font-size: 0.75rem;
    font-weight: bold;
}

.foto-memoria {
    grid-row: 3;
    grid-column: 3;
}

.historia {
    grid-row: 3;
    grid-column: 1/3;
    align-self: self-start;
    justify-self: self-start;

}

/* style the content */
.foto-memoria,
.musica-img,
.historia-img {
    justify-self: center;
    align-self: center;
}

p {
    font-size: 14px;
}
.foto-memoria{
    width: 90px;
    height: auto;
    border-radius: 5%;
}